body{color:#ffffff ;
    background-color: #5F6A72;}
h1, h2, h3{color: #FF5113;}
h1 {font-size: xx-large;}
h2 {font-size: x-large;}   
li a{ color: #032263;
} 
li a:hover {color:#ff5113;}







/* .evenrow { background-color:lightgray}  */